<mat-toolbar color="primary">
  <span>{{applicationName}}</span>
  <button mat-button class="movies_popular" routerLink='/movies/popular'>Popular Movies</button>
  <button mat-button class="movies_top_rated" routerLink='/movies/top_rated'>Top-Rated Movies</button>
  <button mat-button class="movies_watchlist" routerLink='/movies/watchlist'>WatchListed Movies</button>
  <button mat-button class="movies_searchMovie" routerLink='/movies/searchMovie'>Search Movie</button>
  <button mat-button class="logout" routerLink='/logout' *ngIf="!!localStorageItem('UserId')">Logout</button>
</mat-toolbar>
<router-outlet></router-outlet>
